In [1]:
import numpy as np
import pandas as pd

In [2]:
d = {'Clubes': [], 'PG': [], 'j': [], 'V': [], 'E': [], 'D': [], 'GP': [], 'GC': [], 'SG': []}
dfClassChampionship = pd.DataFrame(data=d);
dfDataChampionship = pd.read_excel("b2017.xlsx", encoding='utf8')

In [3]:
dfDataChampionship.head()

,Horario,Dia,Data,Clube 1,Clube 2,Placar,Vencedor,Rodada,Arena
0,16:00,Sábado,13/05/2017,Flamengo,Atlético-MG,1 x 1,-,1ª Rodada,Maracanã
1,19:00,Sábado,13/05/2017,Corinthians,Chapecoense,1 x 1,-,1ª Rodada,Arena Corinthians
2,11:00,Domingo,14/05/2017,Fluminense,Santos,3 x 2,Fluminense,1ª Rodada,Maracanã
3,16:00,Domingo,14/05/2017,Cruzeiro,São Paulo,1 x 0,Cruzeiro,1ª Rodada,Mineirão
4,16:00,Domingo,14/05/2017,Ponte Preta,Sport,4 x 0,Ponte Preta,1ª Rodada,Moisés Lucarelli

** Get all clubes for championship **

In [4]:
#Cancatenando as colunas Clube 1 e Clube 2
clubs  =  pd.concat([dfDataChampionship['Clube 1'].str.lower(), dfDataChampionship['Clube 2'].str.lower()], axis=1, keys=['Clubes'])

In [5]:
#Obtem todos os clubes 
cb = pd.DataFrame({'Clubes': clubs['Clubes'].unique()})

In [6]:
#Todos os clubes que participaram dp campeonato
cb

         Clubes
0      flamengo
1   corinthians
2    fluminense
3      cruzeiro
4   ponte preta
5     palmeiras
6         bahia
7          avaí
8        grêmio
9      coritiba
10       santos
11  atlético-go
12  chapecoense
13        vasco
14  atlético-mg
15  atlético-pr
16      vitória
17     botafogo
18        sport
19    são paulo

In [7]:
def getNumberWinner(data, clube ):
    df = data.apply(lambda x: x.str.strip())
    filter = df["Vencedor"].str.lower() == clube
    return (data[filter]['Vencedor'].count()).astype(np.int64)

def getNumberDepartures(data, clube ):
    df = data.apply(lambda x: x.str.strip())
    filter1 = df["Clube 1"].str.lower() == clube
    filter2 = df["Clube 2"].str.lower() == clube
    return (data[filter1]['Clube 1'].count() + data[filter2]['Clube 2'].count()).astype(np.int64)

def getPoints(data, clube ):
    df = data.apply(lambda x: x.str.strip())
    filter1 = df["Clube 1"].str.lower() == clube
    filter2 = df["Clube 2"].str.lower() == clube
    filter3 = df["Vencedor"].str.lower() == clube
    filter4 = (df["Clube 1"].str.lower() == clube) | (df["Clube 2"].str.lower() == clube)
    filter5 = df["Vencedor"].str.lower() == '-'
    
    v1 = data[(filter1) & (filter3)]
    v1 = v1['Vencedor'].count()
    v2 = data[(filter2) & (filter3)]
    v2 = v2['Vencedor'].count() 
    v3 = data[(filter4) & (filter5)]
    v3 = v3['Vencedor'].count()
    return ((v2*3)+(v1*3)+v3).astype(np.int64)

def getDraw(data, clube ):
    df = data.apply(lambda x: x.str.strip())
    filter1 = (df["Clube 1"].str.lower() == clube) | (df["Clube 2"].str.lower() == clube)
    filter2 = df["Vencedor"].str.lower() == '-'
    df = data[(filter1) & (filter2)]
    empates = df['Vencedor'].count()
    return empates.astype(np.int64)

def getDefeats(data, clube ):
    df = data.apply(lambda x: x.str.strip())
    filter1 = (df["Clube 1"].str.lower() == clube) | (df["Clube 2"].str.lower() == clube)
    filter2 = (df["Vencedor"].str.lower() != clube) & (df["Vencedor"].str.lower() != '-')
    df = data[(filter1) & (filter2)]
    derrotas = df['Vencedor'].count()
    return derrotas.astype(np.int64)

def getGP(data, clube ):
    df = data.apply(lambda x: x.str.strip())
    filter1  =  df["Clube 1"].str.lower() == clube
    filter2  =  df["Clube 2"].str.lower() == clube
    df1      =  data[(filter1)]
    df2      =  data[(filter2)]
    placar1  =  df1['Placar'].str.split('x')
    placar2  =  df2['Placar'].str.split('x')
    gp       =  0
    gc       =  0
    for g1, g2 in placar1:
        gp = (gp + pd.to_numeric( g1 ))
        gc = (gc + pd.to_numeric( g2 ))
            
    for g1, g2 in placar2:
        gp = (gp + pd.to_numeric( g2 )) 
        gc = (gc + pd.to_numeric( g1 ))
    return gp, gc

In [8]:
dfTable = cb[["Clubes"]].copy()
for column in ["PG", "J", "V", "E", "D", "GP", "GC", "SG"]:
    dfTable[column] = pd.np.nan
    
    
for index, row in dfTable.iterrows():
    c1  =  row['Clubes']
    if type(c1) != unicode:
        c1 =  c1.decode('utf-8')
    c1 =  c1.strip()
    
    pg       =  getPoints(dfDataChampionship, c1 )
    j        =  getNumberDepartures(dfDataChampionship, c1 )
    v        =  getNumberWinner(dfDataChampionship, c1 )
    e        =  getDraw(dfDataChampionship, c1 )
    d        =  getDefeats(dfDataChampionship, c1 )
    gp, gc   =  getGP(dfDataChampionship, c1 )
    
    
    dfTable.at[index, 'PG'] = pg
    dfTable.at[index, 'J']  = j
    dfTable.at[index, 'V']  = v
    dfTable.at[index, 'E']  = e
    dfTable.at[index, 'D']  = d
    dfTable.at[index, 'GP'] = gp
    dfTable.at[index, 'GC'] = gc
    dfTable.at[index, 'SG'] = gp - gc
    
    #print c1

dfTable

         Clubes    PG     J     V     E     D    GP    GC    SG
0      flamengo  56.0  38.0  15.0  11.0  12.0  49.0  38.0  11.0
1   corinthians  72.0  38.0  21.0   9.0   8.0  50.0  30.0  20.0
2    fluminense  47.0  38.0  11.0  14.0  13.0  50.0  53.0  -3.0
3      cruzeiro  57.0  38.0  15.0  12.0  11.0  47.0  39.0   8.0
4   ponte preta  39.0  38.0  10.0   9.0  19.0  37.0  52.0 -15.0
5     palmeiras  63.0  38.0  19.0   6.0  13.0  61.0  45.0  16.0
6         bahia  50.0  38.0  13.0  11.0  14.0  50.0  48.0   2.0
7          avaí  43.0  38.0  10.0  13.0  15.0  29.0  48.0 -19.0
8        grêmio  62.0  38.0  18.0   8.0  12.0  55.0  36.0  19.0
9      coritiba  43.0  38.0  11.0  10.0  17.0  42.0  51.0  -9.0
10       santos  63.0  38.0  17.0  12.0   9.0  42.0  32.0  10.0
11  atlético-go  36.0  38.0   9.0   9.0  20.0  38.0  56.0 -18.0
12  chapecoense  54.0  38.0  15.0   9.0  14.0  47.0  49.0  -2.0
13        vasco  56.0  38.0  15.0  11.0  12.0  40.0  47.0  -7.0
14  atlético-mg  54.0  38.0  14.0  12.0  12.0  52.0  49.0   3.0
15  atlético-pr  51.0  38.0  14.0   9.0  15.0  45.0  43.0   2.0
16      vitória  43.0  38.0  11.0  10.0  17.0  50.0  58.0  -8.0
17     botafogo  53.0  38.0  14.0  11.0  13.0  45.0  42.0   3.0
18        sport  45.0  38.0  12.0   9.0  17.0  46.0  58.0 -12.0
19    são paulo  50.0  38.0  13.0  11.0  14.0  48.0  49.0  -1.0

In [9]:
reorderlist = [   "Corinthians", "Palmeiras", "Santos", "Grêmio", "Cruzeiro", "Flamengo",
                  "Vasco", "Chapecoense", "Atlético-MG", "Botafogo", "Atlético-PR", "Bahia",
                  "São Paulo", "Fluminense", "Sport", "Vitória", "Coritiba", "Avaí", "Ponte Preta", 
                  "Atlético-GO"
              ]
listIndex   = []

#Processa a lista para gerar a lista de ordenação
for clube in reorderlist:
    for index, row in dfTable.iterrows():
        #Verifica se o valor de clube é um unicode, se não, convete isso.
        if type(clube) != unicode:
            c =  clube.decode('utf-8')
        else:
            c =  clube
        
        c1  =  row['Clubes']
        #print c1
        if type(c1) != unicode:
            c1 =  c1.decode('utf-8')
        
        c1 =  c1.strip()
        c  =  c.lower()
        
        #Verifica se o clube iterado é igual ao clube da lista, se sim
        #retorna seu indice
        if c1 == c:
            listIndex.append( index )
            
#Reordena a lista
dfTable  =  dfTable.reindex(index=listIndex, columns=["Clubes", "PG", "J", "V", "E", "D", "GP", "GC", "SG"])
#Com a lista ordenada, corrige os indices.
dfTable.index =  np.arange(1, len(dfTable)+1)
dfTable

         Clubes    PG     J     V     E     D    GP    GC    SG
1   corinthians  72.0  38.0  21.0   9.0   8.0  50.0  30.0  20.0
2     palmeiras  63.0  38.0  19.0   6.0  13.0  61.0  45.0  16.0
3        santos  63.0  38.0  17.0  12.0   9.0  42.0  32.0  10.0
4        grêmio  62.0  38.0  18.0   8.0  12.0  55.0  36.0  19.0
5      cruzeiro  57.0  38.0  15.0  12.0  11.0  47.0  39.0   8.0
6      flamengo  56.0  38.0  15.0  11.0  12.0  49.0  38.0  11.0
7         vasco  56.0  38.0  15.0  11.0  12.0  40.0  47.0  -7.0
8   chapecoense  54.0  38.0  15.0   9.0  14.0  47.0  49.0  -2.0
9   atlético-mg  54.0  38.0  14.0  12.0  12.0  52.0  49.0   3.0
10     botafogo  53.0  38.0  14.0  11.0  13.0  45.0  42.0   3.0
11  atlético-pr  51.0  38.0  14.0   9.0  15.0  45.0  43.0   2.0
12        bahia  50.0  38.0  13.0  11.0  14.0  50.0  48.0   2.0
13    são paulo  50.0  38.0  13.0  11.0  14.0  48.0  49.0  -1.0
14   fluminense  47.0  38.0  11.0  14.0  13.0  50.0  53.0  -3.0
15        sport  45.0  38.0  12.0   9.0  17.0  46.0  58.0 -12.0
16      vitória  43.0  38.0  11.0  10.0  17.0  50.0  58.0  -8.0
17     coritiba  43.0  38.0  11.0  10.0  17.0  42.0  51.0  -9.0
18         avaí  43.0  38.0  10.0  13.0  15.0  29.0  48.0 -19.0
19  ponte preta  39.0  38.0  10.0   9.0  19.0  37.0  52.0 -15.0
20  atlético-go  36.0  38.0   9.0   9.0  20.0  38.0  56.0 -18.0